<footer>
	<article>
		<header>
			<svg style="font-size: 40px;color: #00ff00;" height="1.2em" width="1.2em" aria-label="<%= @green_icon.gsub('-', ' ') %> icon">
				<use xlink:href="/assets/icons/<%= @green_icon %>.svg#<%= @green_icon %>"></use>
			</svg>
		</header>
		<p>This website was built using Crystal and doesn't require JS. Site generated on <%= TIME_NOW %>.<br />Licensed under the Hippocratic License 3.0.</p>
	</article>
</footer>