<!DOCTYPE html>
<html lang="en" translate="no">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/assets/favicons/favicon.ico">
        <meta name="keywords" content="CS, IT, Software, Developer, Programming, Blog, Portfolio, Work, GeopJr">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <link rel="me" href="https://tech.lgbt/@GeopJr">
        <meta name="fediverse:creator" content="@GeopJr@tech.lgbt">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <meta name="theme-color" content="#0000ff" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#ffff00" media="(prefers-color-scheme: dark)">
        <meta name="googlebot" content="notranslate" />
        <meta property="og:type" content="website">
        <meta property="og:image:type" content="image/png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#706738">
        <meta name="msapplication-TileColor" content="#f9f1cc">
        <link rel="alternate" type="application/rss+xml" title="GeopJr's Blog" href="/rss.xml" />
        <link rel="preload" href="/assets/fonts/adwaita-sans/adwaita-sans-latin.woff2" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="/assets/fonts/instrument-serif/instrument-serif-latin.woff2" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="/assets/fonts/adwaita-mono/adwaita-mono-latin.woff2" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="/assets/fonts/dejavu-sans/DejaVuSans-Bold.woff2" as="font" type="font/woff2" crossorigin />
        <%= @tags.standard %>
        <%= @tags.og %>
        <link rel="stylesheet" href="/assets/css/global.css">
        <%- if !(css = @tags.css).nil? %>
            <%- css.each do |stylesheet| -%>
                <link rel="stylesheet" href="/assets/css/<%= stylesheet %>.css">
            <%- end -%>
        <%- end -%>
    </head>
    <body>
        <header>
            <%= @navbar %>
            <%- if !@header.nil? && @header != "" -%>
                <section><%= @header %></section>
            <%- end -%>
            <%- if @header != "" -%><div class="dither-sep bottom" aria-hidden="true"></div><%- end -%>
        </header>
        <%= @content %>
        <%= @footer %>
        <script type="module" src="/assets/js/log.js"></script>
        <script type="module" src="/assets/js/listenbrainz.js"></script>
        <%- if !(js = @tags.js).nil? %>
            <%- js.each do |script| -%>
                <script type="module" src="/assets/js/<%= script %>.js"></script>
            <%- end -%>
        <%- end -%>
    </body>
</html>
