<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/assets/favicons/favicon.ico">
        <meta name="keywords" content="CS, IT, Software, Developer, Programming, Blog, Portfolio, Work, GeopJr">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="view-transition" content="same-origin" />
        <link rel="me" href="https://tech.lgbt/@GeopJr">
        <meta name="fediverse:creator" content="@GeopJr@tech.lgbt">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <meta name="theme-color" content="#f0db78">
        <meta name="og:type" content="website">
        <meta name="og:image:type" content="image/png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="manifest" href="/assets/favicons/site.webmanifest">
        <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#706738">
        <meta name="msapplication-TileColor" content="#f9f1cc">
        <link rel="alternate" type="application/rss+xml" title="GeopJr's Blog" href="/rss.xml" />
        <%= @tags.standard %>
        <%= @tags.og %>
        <link rel="stylesheet" href="/assets/css/global.css">
        <%- if !(css = @tags.css).nil? %>
            <%- css.each do |stylesheet| -%>
                <link rel="stylesheet" href="/assets/css/<%= stylesheet %>.css">
            <%- end -%>
        <%- end -%>
    </head>
    <body>
        <%= @navbar %>
        <%= @content %>
        <%= @footer %>
        <script src="/assets/js/log.js"></script>
        <script src="/assets/js/listenbrainz.js"></script>
        <%- if !(js = @tags.js).nil? %>
            <%- js.each do |script| -%>
                <script src="/assets/js/<%= script %>.js"></script>
            <%- end -%>
        <%- end -%>
    </body>
</html>
