<nav>
	<%- ROUTES.each_with_index do |route, i| -%>
		<a
			draggable="false"
			href="/<%= route.tags.url %>" aria-label="<%= route.title %>"
			class="<%= @active_link == route.id.to_s ? "active" : nil %> <%= route.hidden ? " h" : nil %>"
		><%= route.title.upcase %></a>
	<%- end -%>
</nav>