@font-face {
    font-family: 'OMORI_GAME';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/assets/fonts/OMORI_GAME.woff2') format('woff2');
}

html[data-egg="omori"] {
    background-color: white;
    font-family: 'OMORI_GAME', monospace;
    color: black;

    main {
        justify-content: space-between;

        h1,
        h2 {
            text-align: center;

        }

        >*:not(.lamp-container) {
            animation-name: wspace;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-delay: 3s;
            opacity: 0;
            pointer-events: none;
        }
    }

    img {
        pointer-events: all;
    }

    audio {
        display: none;
    }
}

.lamp-container {
    position: relative;
    width: 72px;

    >img {
        position: absolute;
        bottom: -418px;
        animation-name: lamp;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }
}

@keyframes lamp {
    from {
        bottom: -418px
    }

    to {
        bottom: -262px;
    }
}

#mewo {
    padding: 3rem;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

@keyframes wspace {
    from {
        opacity: 0;
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: all;
    }
}