@font-face {
	font-family: Adwaita Sans;
	font-style: italic;
	font-weight: 100 900;
	font-stretch: 100%;
	src: /* local("Adwaita Sans Italic"), local("AdwaitaSansItalic"),*/ url(adwaita-sans-italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}

/* @font-face {
	font-family: Adwaita Sans;
	font-style: italic;
	font-weight: 100 900;
	font-stretch: 100%;
	src: local("Adwaita Sans Italic"), local("AdwaitaSansItalic"), url(adwaita-sans-italic-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
} */

@font-face {
	font-family: Adwaita Sans;
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 100%;
	src: /* local("Adwaita Sans"), local("AdwaitaSans"),*/ url(adwaita-sans-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}

@font-face {
	font-family: Adwaita Sans;
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 100%;
	src: url(adwaita-sans-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}
