@charset "utf-8";
@use 'sass:list';
@import '../node_modules/ress/dist/ress.min';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import '$lib/fonts/Cantarell-400.css';
@import '$lib/fonts/Cantarell-700.css';

@function semiTransparent($color) {
	@return rgba($color, 0.2);
}

$geopjr-yellow: #f0db78;
$geopjr-red: #a56262;
$geopjr-blurple: #7f77bc;
$geopjr-dark: #262329;

$rainbow-red-pastel: #df382b;
$rainbow-orange-pastel: #ff711f;
$rainbow-yellow-pastel: #fabb06;
$rainbow-green-pastel: #34a853;
$rainbow-blue-pastel: #4285f4;
$rainbow-purple-pastel: #9d41f9;

$rainbow-red-hot: #ff0018;
$rainbow-orange-hot: #ffa52c;
$rainbow-yellow-hot: #ffff41;
$rainbow-green-hot: #00ac1f;
$rainbow-blue-hot: #0084ff;
$rainbow-purple-hot: #ff00ee;

$colors-rainbow: (
	'red': (
		$rainbow-red-hot,
		$rainbow-red-pastel
	),
	'orange': (
		$rainbow-orange-hot,
		$rainbow-orange-pastel
	),
	'yellow': (
		$rainbow-yellow-hot,
		$rainbow-yellow-pastel
	),
	'green': (
		$rainbow-green-hot,
		$rainbow-green-pastel
	),
	'blue': (
		$rainbow-blue-hot,
		$rainbow-blue-pastel
	),
	'purple': (
		$rainbow-purple-hot,
		$rainbow-purple-pastel
	)
);

@each $color-name, $color-list in $colors-rainbow {
	.glass-#{$color-name} {
		&.active {
			border-color: rgba(list.nth($color-list, 2), 0.5) !important;
		}
		&:hover {
			color: list.nth($color-list, 1) !important;
			background-color: semiTransparent(list.nth($color-list, 2)) !important;
			&[data-tooltip]:after {
				color: list.nth($color-list, 1) !important;
			}
		}
	}
}

:root {
	--geopjr-yellow: #{$geopjr-yellow};
	--geopjr-red: #{$geopjr-red};
	--geopjr-blurple: #{$geopjr-blurple};
	--geopjr-dark: #{$geopjr-dark};
}

$mother-mother-accent: #e53170;
:root[theme='mother mother'] {
	--accent: #{$mother-mother-accent};
	--accent-text: var(--sidebar-secondary-color);

	--sidebar-primary-color: #000000;
	--sidebar-secondary-color: #222222;
	--sidebar-secondary-alt-color: #333333;
	--sidebar-text-color: #ffffff;
	--sidebar-text-color-hover: #{$mother-mother-accent};
	--sidebar-background-hover: #{semiTransparent($mother-mother-accent)};
	--sidebar-active-color: var(--sidebar-secondary-color);

	--background-color: #16161a;
	--pseudo-text-color: var(--sidebar-text-color);
	--text-color: white;
}

$_100-gecs-green: #8aa4b8;
$_100-gecs-blurple: #6d7eae;
$_100-gecs-brown: #bea89b;
$_100-gecs-dark: #363a3a;
:root,
:root[theme='100 gecs'] {
	--accent: var(--geopjr-yellow);
	--accent-text: var(--geopjr-dark);

	--sidebar-primary-color: var(--geopjr-dark);
	--sidebar-secondary-color: var(--geopjr-red);
	--sidebar-secondary-alt-color: #{lighten($geopjr-dark, 6.66%)};
	--sidebar-text-color: #ffffff;
	--sidebar-text-color-hover: var(--geopjr-yellow);
	--sidebar-background-hover: var(--geopjr-blurple);
	--sidebar-active-color: var(--sidebar-text-color-hover);

	--background-color: #1a181b;
	--pseudo-text-color: var(--sidebar-text-color);
	--text-color: white;
}

$cavetown-mint: #9cb0d5;
$cavetown-blurple: #6b58ba;
$cavetown-light: #49ac8e;
$cavetown-dark: #2d2c2a;
:root[theme='cavetown'] {
	--accent: #{darken($cavetown-blurple, 25%)};
	--accent-text: var(--pseudo-text-color);

	--sidebar-primary-color: #{$cavetown-mint};
	--sidebar-secondary-color: #{$cavetown-blurple};
	--sidebar-secondary-alt-color: #{$cavetown-dark};
	--sidebar-text-color: #{$cavetown-dark};
	--sidebar-text-color-hover: #{$cavetown-light};
	--sidebar-background-hover: #{$cavetown-dark};
	--sidebar-active-color: var(--sidebar-secondary-color);

	--background-color: #daebf3;
	--pseudo-text-color: white;
	--text-color: black;
}

// $rebecca-sugar-pink: #fcb9c2;
// $rebecca-sugar-orange: #fcccb1;
// $rebecca-sugar-purple: #3e6897;
// $rebecca-sugar-teal: #c1fff0;
// $rebecca-sugar-light: #fffff2;
// $rebecca-sugar-marble: #ffeee4;
// $rebecca-sugar-blue: #58d7d5;
// $rebecca-sugar-gray: #99c8c1;

$rebecca-sugar-pink: #fcb9c2;
$rebecca-sugar-orange: #ff8ba7;
$rebecca-sugar-purple: #3e6897;
$rebecca-sugar-teal: #c3f0ca;
$rebecca-sugar-light: #fffff2;
$rebecca-sugar-marble: #ffeee4;
$rebecca-sugar-blue: #58d7d5;
$rebecca-sugar-gray: #33272a;
:root[theme='rebecca sugar'] {
	--accent: #{$rebecca-sugar-purple};
	--accent-text: var(--pseudo-text-color);

	--sidebar-primary-color: #{$rebecca-sugar-teal};
	--sidebar-secondary-color: #{$rebecca-sugar-orange};
	--sidebar-secondary-alt-color: #{$rebecca-sugar-purple};
	--sidebar-text-color: #{$rebecca-sugar-purple};
	--sidebar-text-color-hover: #{$rebecca-sugar-orange};
	--sidebar-background-hover: #{$rebecca-sugar-gray};
	--sidebar-active-color: #{$rebecca-sugar-orange};

	--background-color: #{$rebecca-sugar-light};
	--pseudo-text-color: white;
	--text-color: black;
}

.accent {
	color: var(--accent);
	&--block {
		color: var(--accent-text);
		background-color: var(--accent);
		border-radius: 0.25rem;
		padding: 0 0.2rem;
		// font-size: 95%; // 85%
		line-height: 1.5;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}
}

html,
body {
	height: 100%;
	width: 100vw;
	overflow-x: hidden;
}

img {
	pointer-events: none;
}

html {
	background-color: var(--background-color);
	transition-duration: 200ms;
	font-family: 'Cantarell', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Noto Sans',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

*:focus-visible {
	outline: none;
	box-shadow: 0 0 0 0.1rem var(--sidebar-secondary-alt-color),
		0 0 0 0.3rem var(--sidebar-text-color);
}

// Don't have any transitions if user prefers reduced motion
@media (prefers-reduced-motion) {
	* {
		&:focus,
		&:focus-visible,
		&:hover {
			transition-duration: 0ms !important;
			&:before,
			&:after {
				transition-duration: 0ms !important;
			}
		}
		transition-duration: 0ms !important;
		&:before,
		&:after {
			transition-duration: 0ms !important;
		}
	}
}
