$green-dark: #00ff00;
$green-light: #1B8553;

body>footer {
    background-color: var(--card-background);
    padding: 2rem;
    border-top-left-radius: 2rem;
    // border-top-right-radius: 2rem;
    // border: 0.25rem solid transparent;
    // border-bottom: none;
    // border-right: none;
    // transition-duration: 200ms;
    max-width: 90vw;
    align-self: flex-end;

    .cc {
        height: 22px !important;
        margin-left: 3px;
        vertical-align: text-bottom;
    }

    a {
        color: $green-dark !important;
        text-decoration: wavy $green-dark underline !important;
        font-variation-settings: "wght" 700, "slnt" 0;
        font-weight: 700;

        @media (prefers-color-scheme: light) {
            color: $green-light !important;
            text-decoration: wavy $green-light underline !important;
        }
    }

    >article {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        >header>svg {
            color: $green-dark;

            @media (prefers-color-scheme: light) {
                color: $green-light;
            }
        }

        details {
            >summary {
                cursor: pointer;
            }

            >div {
                line-height: 1.5;
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .random-image {
                    max-width: 100%;
                    width: 512px;
                    border-radius: 0.75rem;
                }

                .badges {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .3rem;
                    max-width: 512px;
                    justify-content: center;

                    >img {
                        height: 31px;
                        width: 88px;
                        image-rendering: pixelated;
                    }
                }

                .nerd {
                    opacity: .3;
                    line-height: 1.3;
                    font-family: monospace;
                }
            }
        }

    }

    // margin-bottom: -4rem;
    position: relative;
    z-index: 50;

    transition-duration: 200ms;


    &::before {
        transition-duration: 200ms;

        content: "";
        z-index: 51;
        position: absolute;
        background-color: transparent;
        right: 0;
        top: -49px;
        height: 50px;
        width: 50px;
        border-bottom-right-radius: 2rem;
        box-shadow: 25px 0px 0 0 var(--card-background);
    }

    &:hover {
        background-color: mix($card-background-dark, $green-dark, 80%);

        // border: 0.25rem solid #00ff00;
        // border-bottom: none;
        // border-right: none;

        &::before {
            // border-bottom-color: #00ff00;
            box-shadow: 25px 0px 0 0 mix($card-background-dark, $green-dark, 80%);

            @media (prefers-color-scheme: light) {
                box-shadow: 25px 0px 0 0 mix($card-background-light, $green-dark, 80%);
            }
        }

        @media (prefers-color-scheme: light) {
            background-color: mix($card-background-light, $green-dark, 80%);
        }
    }
}