@use "sass:color";
@use "sass:string";
@use 'mixins';

body>footer {
    @include mixins.reverse-accent;

    position: relative;
    transition-duration: 200ms;
    width: 100%;
    font-family: "Adwaita Mono", monospace;

    .dm {
        width: 256px;
        max-width: 100%;
        image-rendering: pixelated;

        @media (prefers-color-scheme: dark) {
            filter: string.unquote("invert()");
        }
    }

    >article {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        details {
            >summary {
                display: flex;
                justify-content: center;
                gap: .5rem;
                padding: 1rem;
                font-size: large;
                font-weight: bold;
                flex-wrap: wrap;

                a,
                >span {
                    padding: .5rem;
                    color: var(--accent-text) !important;

                    &:hover,
                    &:focus-visible {
                        @include mixins.reverse-reverse-accent;
                    }
                }

                >span {
                    cursor: pointer;

                    >span {
                        &:nth-child(1) {
                            display: block;
                        }

                        &:nth-child(2) {
                            display: none;
                        }
                    }
                }
            }

            &[open]>summary>span {
                color: var(--accent) !important;
                background-color: var(--accent-text);

                >span {
                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }

            >section {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                min-height: max(calc(100vh - 10rem), 50vh);
                align-items: center;
                padding: 1rem;

                >section {
                    max-width: 100%;

                    >p {
                        display: grid;
                        grid-template-columns: max-content 1fr;
                        column-gap: 0.5em;
                        width: 642px;
                        max-width: 100%;

                        a {
                            @include mixins.reverse-reverse-accent;
                        }

                        >.u {
                            user-select: none;
                            white-space: nowrap;

                            .h {
                                color: var(--accent);
                            }

                            .OK {
                                color: #FF0;

                                @media (prefers-color-scheme: dark) {
                                    color: #00f;
                                }
                            }

                            .FAILED {
                                color: #FFAD34;

                                @media (prefers-color-scheme: dark) {
                                    color: #F00;
                                }
                            }
                        }
                    }
                }

                .random-image {
                    max-width: 100%;
                    width: 512px;
                }

                .gwf {
                    width: 200px;
                    max-height: 95px;
                    max-width: 100%;
                    object-fit: contain;
                }

                .badges {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .3rem;
                    max-width: 512px;
                    justify-content: center;

                    img {
                        height: 31px;
                        width: 88px;
                        image-rendering: pixelated;
                    }
                }
            }
        }
    }

    .listenbrainz {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        flex-direction: column;
        align-items: center;

        &[data-loaded="false"] {
            display: none;
        }

        >article {
            max-width: 300px;

            >section>img {
                height: 266px;
                width: 266px;
                max-width: 90vw;
            }
        }
    }
}