@use "mixins";

body {
    &:not(:has(>header>section)):has(>header>.dither-sep)>main {
        margin-top: -2rem;
    }

    >header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        padding: 1rem;

        &:has(section) {
            background-color: var(--accent);
        }

        >nav {
            background: var(--accent-text);
            border-radius: 1.5rem;
            display: flex;
            flex-direction: row;
            gap: .5rem;
            justify-content: center;
            align-items: stretch;
            color: var(--accent);
            min-height: 3rem;
            padding: .5rem;
            flex-wrap: wrap;
            box-shadow: 0px 2px 10px rgb(from var(--accent) r g b / calc(alpha * 0.2));

            @media only screen and (min-width: 532px) {
                border-radius: 9999px;
            }

            a {
                transition-duration: 250ms;
                border-radius: 9999px;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 3rem;
                padding: 0 1rem;
                font-weight: bold;
                min-height: 2rem;
                flex: 33%;

                &.h {
                    display: none;
                }

                &.active,
                &:hover {
                    @include mixins.reverse-accent;
                }

                @media only screen and (min-width: 532px) {
                    flex: auto;

                    &.h {
                        display: flex;
                    }
                }
            }

            +.dither-sep {
                top: 0;
            }
        }

        >section {
            @include mixins.reverse-accent;

            font-size: large;
            font-family: "Adwaita Mono", monospace;
            text-align: center;

            a {
                @include mixins.reverse-reverse-accent;
            }
        }
    }
}