$background: (
    "light": #FFF3CE,
    "light-hc": #FFF3CE,
    "dark": #261F01,
    "dark-hc": #261F01
);

$foreground: (
    "light": #3C3200,
    "light-hc": #000000,
    "dark": #F4E5AE,
    "dark-hc": #FFFFFF
);

$card-background: (
    "light": white,
    "light-hc": white,
    "dark": #120E00,
    "dark-hc": #120E00
);

$card-foreground: (
    "light": #3C3200,
    "light-hc": #2B2300,
    "dark": #F4E5AE,
    "dark-hc": #FFFFFF
);

$accent-fixed: (
    "background": #FEE264,
    "foreground": #4B3F00
);

$accent-background: (
    "light": #6F5E00,
    "light-hc": #2B2300,
    "dark": #F5D95D,
    "dark-hc": #F5D95D
);

$accent-foreground: (
    "light": #FFF8EB,
    "light-hc": #FFF6DE,
    "dark": #413600,
    "dark-hc": #413600
);

$accent-alt-background: (
    "light": #6053A7,
    "light-hc": #241069,
    "dark": #C9BEFF,
    "dark-hc": #E8E1FF
);

$accent-alt-foreground: (
    "light": #FCF7FF,
    "light-hc": #DDD5FF,
    "dark": #413286,
    "dark-hc": #2C1B71
);

$accent-alt2-foreground: (
    "light": #F1FFCB,
    "light-hc": #C1E867,
    "dark": #4A6400,
    "dark-hc": #2A3A00
);

$accent-alt2-background: (
    "light": #4D6800,
    "light-hc": #1C2800,
    "dark": #E1FF9C,
    "dark-hc": #E1FF9C
);
