.brand {
    >.subtitle {
        background-color: var(--brand-bg);
        color: var(--brand-color);
    }

    &:hover,
    &:focus-visible {
        color: var(--brand-bg) !important;
    }
}

body>header {
    position: relative;

    .icon-overlay {
        position: absolute;
        font-size: clamp(.5rem, 5vw, 4rem);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        pointer-events: none;

        >svg {
            font-size: clamp(.5rem, 5vw, 4rem);
            transform: rotate(-20deg);
            color: var(--accent);

            &:last-child {
                align-self: end;
                transform: rotate(20deg);
            }
        }
    }

    >h1 {
        font-size: clamp(2rem, 20vw, 10rem);
        font-variation-settings: "wght" 900, "slnt" 0;
        font-weight: 900;
        margin-bottom: 2rem;

        >span.name {
            background-color: var(--navbar-item-background);
            color: var(--navbar-item-foreground);
            display: inline-block;
            padding: 0 1rem;
            margin-top: 1rem;
            border-radius: var(--radius-medium);
            transition-duration: 200ms;
            position: relative;
            border-top-left-radius: var(--radius-big);

            &:not(:hover) {
                border-radius: var(--radius-big);
                font-variation-settings: "wght" 200, "slnt" 0;
                font-weight: 200;
            }
        }
    }
}

.press-container {
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);
    overflow-x: hidden;
    flex-wrap: nowrap;
    display: flex;

    @keyframes scroll {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(-100%)
        }
    }

    @media (prefers-reduced-motion) {
        mask-image: none;

        >.press:nth-child(2) {
            display: none;
        }
    }

    >.press {
        display: flex;
        align-items: center;
        gap: 2rem;
        animation: scroll infinite linear 30s;
        padding: 0 2rem;

        @media (prefers-reduced-motion) {
            animation: none;
            flex-wrap: wrap;
        }

        .press-item {
            margin: 0.4rem 0;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-property: color;
            transition-duration: 250ms;

            &:hover,
            &:focus-visible {
                color: var(--accent-alt2);
            }

            >svg {
                height: 96px;
                max-width: 256px;

                &.tonight_show_jimmy {
                    aspect-ratio: 79.1 / 79.1;
                }

                &.bitdefender {
                    aspect-ratio: 189.8 / 27.9;
                }

                &.forbes {
                    aspect-ratio: 198.1 / 49.7;
                }

                &.dailydot {
                    aspect-ratio: 189.2 / 36.8;
                }

                &.verge {
                    aspect-ratio: 512 / 114.7;
                }

                &.mic {
                    aspect-ratio: 214 / 262;
                }

                &.mashable {
                    aspect-ratio: 27.1 / 25.8;
                }

                &.boingboing {
                    aspect-ratio: 284.2 / 43.6;
                }

                &.gizmodo {
                    aspect-ratio: 912.3 / 130.9;
                }

                &.metro {
                    aspect-ratio: 247.7 / 60.8;
                }

                &.linuxformat {
                    aspect-ratio: 600 / 274;
                }
            }
        }
    }
}

.techs {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .tech-item {
        filter: drop-shadow(0 0 0.2rem transparent);
        position: relative;
        transition-duration: 200ms;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 0;
        gap: 1rem;

        &:hover,
        &:focus-visible {
            filter: drop-shadow(0 0 0.2rem var(--accent));
            transition-duration: 200ms;
            z-index: 10;

            >.subtitle {
                opacity: 1;
                transition-duration: 200ms;
            }
        }

        >.subtitle {
            text-align: center;
            opacity: 0;
            transition-duration: 200ms;
            position: absolute;
            top: 115%;
            margin: auto;
            pointer-events: none;
        }
    }
}

.topics {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    width: 100%;

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: stretch;
}