@import url("/assets/fonts/instrument-serif/instrument-serif.css");

.brand {
    >.subtitle {
        background-color: var(--brand-bg);
        color: var(--brand-color);
    }

    &:hover,
    &:focus-visible {
        color: var(--brand-bg) !important;
    }
}

body {
    >header>section {
        position: relative;
        width: 100%;
        background-color: var(--accent);
        color: var(--accent-text);
        display: flex;
        justify-content: center;
        align-items: center;

        // min-height: 80vh;
        padding-top: 1rem;
        padding-bottom: 3rem;

        >h1 {
            font-family: "Instrument Serif", serif;
            font-size: clamp(2rem, 10vw, 8rem);
            font-variation-settings: "wght" 200, "slnt" 0;
            font-weight: 200;
            width: 100%;
            max-width: 1744px;
            padding: 0 2rem;

            display: flex;
            flex-direction: column;

            >span {
                align-self: flex-end;
                font-size: 1.2em;

                &:first-child {
                    align-self: flex-start;
                }
            }

            >pre {
                font-family: monospace;
                font-size: .1em;
                font-weight: normal;
                user-select: none;
                align-self: center;
            }
        }
    }

    >main {
        margin-top: -5rem;
    }
}

.press-container {
    overflow-x: hidden;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row !important;
    gap: 0 !important;

    @keyframes scroll {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(-100%)
        }
    }

    @media (prefers-reduced-motion) {
        >.press:nth-child(2) {
            display: none;
        }
    }

    >.press {
        display: flex;
        align-items: center;
        gap: 2rem;
        animation: scroll infinite linear 30s;
        padding: 0 2rem;

        @media (prefers-reduced-motion) {
            animation: none;
            flex-wrap: wrap;
        }

        .press-item {
            margin: 0.4rem 0;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-property: color;
            transition-duration: 250ms;

            &:hover,
            &:focus-visible {
                color: var(--accent);
            }

            >svg {
                height: 96px;
                max-width: 256px;

                &.tonight_show_jimmy {
                    aspect-ratio: 79.1 / 79.1;
                }

                &.bitdefender {
                    aspect-ratio: 189.8 / 27.9;
                }

                &.forbes {
                    aspect-ratio: 198.1 / 49.7;
                }

                &.dailydot {
                    aspect-ratio: 189.2 / 36.8;
                }

                &.verge {
                    aspect-ratio: 512 / 114.7;
                }

                &.mic {
                    aspect-ratio: 214 / 262;
                }

                &.mashable {
                    aspect-ratio: 27.1 / 25.8;
                }

                &.boingboing {
                    aspect-ratio: 284.2 / 43.6;
                }

                &.gizmodo {
                    aspect-ratio: 912.3 / 130.9;
                }

                &.metro {
                    aspect-ratio: 247.7 / 60.8;
                }

                &.linuxformat {
                    aspect-ratio: 600 / 274;
                }
            }
        }
    }
}

.techs {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .tech-item {
        position: relative;
        transition-duration: 200ms;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 0;
        gap: 1rem;

        &:hover,
        &:focus-visible {
            filter: drop-shadow(0 0 0.15rem #00000084);
            transition-duration: 200ms;
            z-index: 10;

            >.subtitle {
                opacity: 1;
                transition-duration: 200ms;
            }
        }

        >.subtitle {
            text-align: center;
            opacity: 0;
            transition-duration: 200ms;
            position: absolute;
            top: 115%;
            margin: auto;
            pointer-events: none;
            border-radius: 3px;
            font-weight: bold;
            padding: 1px 3px;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: stretch;

    .accent {
        color: var(--accent);
    }

    .card {
        >section>p {
            line-height: 1.4;
        }

        a.btn {
            min-height: 32px;
            height: auto;
        }
    }
}