.blog-container {
    display: flex;
    flex-direction: column;

    >nav {
        padding: .5rem;
        box-shadow: 0px -2px 10px rgb(from var(--accent) r g b / calc(alpha * 0.2));
        background-color: var(--accent-text);
        border-radius: 9999px;
        // margin: 1rem;
        color: var(--accent);
        display: flex;
        gap: .5rem;

        >a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border-radius: 9999px;
            color: var(--text-color);
            transition-duration: 250ms;
            font-weight: bold;

            &.active,
            &:hover {
                background-color: var(--accent);
                color: var(--accent-text);
            }

            &:not(.active, :last-child, .active+a, .active+a+a, :first-child, a:has(+.active, +a+.active)) {
                display: none;
            }
        }
    }
}