// Since we conditionally inject css, this
// will only apply when the page is a blog
// post; so there's no need for :has or
// other hacks
@media only screen and (max-width: 500px) {
    body>main {
        max-width: 100%;
    }
}

body>main {
    width: 60rem;
}

.blog-post {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // gap: 4rem;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;

    a {
        color: var(--accent);
        text-decoration: wavy var(--accent) underline 2px;
        font-variation-settings: "wght" 700, "slnt" 0;
        font-weight: 700;
        text-decoration-thickness: 2px;
    }

    >header {
        padding: 2rem;
        margin: 0 1rem;
        text-align: center;
        gap: 1rem;
        min-height: 25vh;
        border-top-left-radius: var(--radius-big);
        border-bottom-right-radius: var(--radius-big);
        border-bottom-left-radius: var(--radius-big);
        // width: 100%;
        // position: absolute;
        background-color: var(--accent);
        color: var(--accent-text);
        // padding-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        border: var(--outline-width) var(--accent) solid;
        // margin-bottom: 4rem;

        >h1 {
            font-size: xxx-large;
        }

        @media only screen and (max-width: 700px) {
            >h1 {
                font-size: xx-large;
            }
        }

        >.subtitle {
            margin: 1rem 0;
        }

        >.blog-tags {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            flex-wrap: wrap;
        }

        >footer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 2rem;
            justify-content: center;

            >span {
                white-space: nowrap;
                text-align: center;
            }
        }

        &::before {
            content: "";
            z-index: -40;
            position: absolute;
            background-color: transparent;
            right: calc(var(--outline-width) * -1);
            top: calc(-60px - var(--outline-width));
            height: 60px;
            width: 50px;
            border-bottom-right-radius: var(--radius-big);
            box-shadow: 0 25px 0 0 var(--accent), 0 35px 0 0 var(--accent);
        }
    }


    >div {
        font-size: large;
        margin: 2rem;

        @media only screen and (min-width: 768px) {
            font-size: x-large;
            margin: 2rem 6rem;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin-left: auto !important;
            margin-right: auto !important;

            &.emote {
                filter: drop-shadow(0 0 .2rem var(--accent));
            }
        }

        // :global(.youtube-sveltekit-embed) {
        //     border-radius: 0.5rem;
        // }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        pre,
        p,
        img {
            margin: 1rem 0rem;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 2em;
            font-variation-settings: "wght" 900, "slnt" 0;
            font-weight: 900;

            >.anchor {
                font-weight: 900;
                text-decoration: none;
                margin-right: 1rem;
                filter: drop-shadow(0 0 0.1rem var(--accent))
            }
        }

        p {
            line-height: 1.5;
        }

        // >p + p {
        //     margin-top: 2rem;
        // }

        ul>*,
        ol>* {
            margin: .5rem 0rem;
        }

        ul {
            list-style: inside;
        }

        :not(pre)>code {
            white-space: normal;
            background-color: var(--card-background);
            color: var(--card-foreground);
            border-radius: var(--radius-small);
            padding: 0rem .3rem;
            outline: 0.12rem var(--accent) solid;
        }

        figure {
            text-align: center;
            font-style: italic;
            font-size: smaller;
            margin: 0.5em;
            padding: 0.5em;
        }

        img {
            pointer-events: all;
        }

        figure img:not(.emote),
        p img:not(.emote),
        video,
        .youtube img {
            border-radius: var(--radius-small);
        }

        figure img:not(.emote),
        p img:not(.emote) {
            outline: 0.2rem var(--accent) solid;
        }

        .youtube {
            img {
                transition-duration: 200ms;
            }

            &:hover img {
                transform: scale(1.2);
                outline: none;
                box-shadow: var(--focus-outline);
            }
        }

        pre {
            white-space: pre;
            overflow-x: auto;
            background-color: var(--card-background);
            border-radius: var(--radius-small);
            font-size: large;
            outline: 0.2rem var(--accent) solid;
            border-top-left-radius: var(--radius-big);

            >code {
                display: inline-block;
                margin: 2rem 2rem 2rem 0;
            }
        }

        .info-box,
        blockquote {
            padding: .1rem 1rem;
            border-radius: var(--radius-small);
            border-bottom-right-radius: var(--radius-big);
        }

        blockquote {
            font-style: italic;
            background-color: var(--accent-alt2);
            color: var(--accent-alt2-text);
        }

        .info-box {
            margin: 2rem 0rem;
            background-color: var(--accent-alt);

            >p {
                font-size: smaller;
                color: var(--accent-alt-text);

                &.title {
                    margin-bottom: .5rem;
                    font-weight: bold;
                }
            }
        }
    }
}