@use "mixins";

html {
    background-color: var(--accent);
}

.error-view {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Adwaita Mono', monospace;
    margin: 2rem 0 !important;
    @include mixins.reverse-accent;

    >h1 {
        @include mixins.reverse-reverse-accent;
    }

    >img {
        height: 200px;
        width: 300px;
        max-height: 100vh;
        max-width: 100vw;
        border: 1px solid var(--accent-text);
    }

    >span {
        text-align: center;
    }
}