@use 'sass:color';
@use 'sass:map';
@use 'reset';
@use 'reduced_motion';
@use 'navbar';
@use 'footer';
@use 'view_transition';
@use 'variables';

:root {
    --geopjr-yellow: #f0db78;
    --geopjr-red: #a56262;
    --geopjr-purple: #7f77bc;
    --geopjr-dark: #262329;
}


:root {
    color-scheme: dark;

    --radius-big: 2rem;
    --radius-medium: 1rem;
    --radius-small: .75rem;
    --outline-width: .2rem;

    --accent: #{map.get(variables.$accent-background, "dark")};
    --accent-text: #{map.get(variables.$accent-foreground, "dark")};

    --accent-alt: #{map.get(variables.$accent-alt-background, "dark")};
    --accent-alt-text: #{map.get(variables.$accent-alt-foreground, "dark")};

    --accent-alt2: #{map.get(variables.$accent-alt2-background, "dark")};
    --accent-alt2-text: #{map.get(variables.$accent-alt2-foreground, "dark")};

    // --accent-fixed-foreground: #{map.get(variables.$accent-fixed, "foreground")};
    // --accent-fixed-background: #{map.get(variables.$accent-fixed, "background")};

    --card-foreground: #{map.get(variables.$card-foreground, "dark")};
    --card-background: #{map.get(variables.$card-background, "dark")};
    --card-background-hover: var(--accent-alt2);
    --card-foreground-hover: var(--accent-alt2-text);

    --navbar-item-background: var(--accent-alt2);
    --navbar-item-foreground: var(--accent-alt2-text);
    --navbar-item-background-hover: var(--accent-alt);
    --navbar-item-foreground-hover: var(--accent-alt-text);

    --card-action-background: var(--accent-alt2);
    --card-action-foreground: var(--accent-alt2-text);
    --card-action-background-hover: var(--accent-alt);
    --card-action-color-hover: var(--accent-alt-text);

    --focus-outline-color: var(--accent);
    --focus-outline-color-inner: var(--background-color);

    --background-color: #{map.get(variables.$background, "dark")};
    --text-color: #{map.get(variables.$foreground, "dark")};
    --focus-outline: 0 0 0 0.1rem var(--focus-outline-color-inner), 0 0 0 0.3rem var(--focus-outline-color);

    @media (prefers-contrast: more) {
        --accent: #{map.get(variables.$accent-background, "dark-hc")};
        --accent-text: #{map.get(variables.$accent-foreground, "dark-hc")};

        --accent-alt: #{map.get(variables.$accent-alt-background, "dark-hc")};
        --accent-alt-text: #{map.get(variables.$accent-alt-foreground, "dark-hc")};

        --accent-alt2: #{map.get(variables.$accent-alt2-background, "dark-hc")};
        --accent-alt2-text: #{map.get(variables.$accent-alt2-foreground, "dark-hc")};

        --card-foreground: #{map.get(variables.$card-foreground, "dark-hc")};
        --card-background: #{map.get(variables.$card-background, "dark-hc")};

        --background-color: #{map.get(variables.$background, "dark-hc")};
        --text-color: #{map.get(variables.$foreground, "dark-hc")};
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;

        --accent: #{map.get(variables.$accent-background, "light")};
        --accent-text: #{map.get(variables.$accent-foreground, "light")};

        --accent-alt: #{map.get(variables.$accent-alt-background, "light")};
        --accent-alt-text: #{map.get(variables.$accent-alt-foreground, "light")};

        --accent-alt2: #{map.get(variables.$accent-alt2-background, "light")};
        --accent-alt2-text: #{map.get(variables.$accent-alt2-foreground, "light")};

        --card-foreground: #{map.get(variables.$card-foreground, "light")};
        --card-background: #{map.get(variables.$card-background, "light")};

        --background-color: #{map.get(variables.$background, "light")};
        --text-color: #{map.get(variables.$foreground, "light")};

        @media (prefers-contrast: more) {
            --accent: #{map.get(variables.$accent-background, "light-hc")};
            --accent-text: #{map.get(variables.$accent-foreground, "light-hc")};

            --accent-alt: #{map.get(variables.$accent-alt-background, "light-hc")};
            --accent-alt-text: #{map.get(variables.$accent-alt-foreground, "light-hc")};

            --accent-alt2: #{map.get(variables.$accent-alt2-background, "light-hc")};
            --accent-alt2-text: #{map.get(variables.$accent-alt2-foreground, "light-hc")};

            --card-foreground: #{map.get(variables.$card-foreground, "light-hc")};
            --card-background: #{map.get(variables.$card-background, "light-hc")};

            --background-color: #{map.get(variables.$background, "light-hc")};
            --text-color: #{map.get(variables.$foreground, "light-hc")};
        }
    }
}

@import url("/assets/fonts/adwaita-sans/adwaita-sans.css");
@import url("/assets/fonts/adwaita-mono/adwaita-mono.css");

code,
pre,
tt,
kbd,
samp,
.nerd {
    font-family: "Adwaita Mono", monospace;
}

html {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--background-color);
    // transition-duration: 200ms;
    font-family: 'Adwaita Sans', 'Cantarell', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    scrollbar-color: var(--accent) var(--background-color);
}

b,
strong {
    font-weight: 700;
    font-variation-settings: "wght" 700, "slnt" 0;
}

body {
    // height: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    min-height: 100vh;

    >main {
        view-transition-name: main;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        margin: 0 2rem;
        max-width: calc(100vw - 3rem);
        width: 80rem;
        flex-grow: 1;
        // min-width: 15rem;
    }
}

img {
    pointer-events: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
}

*:focus-visible {
    outline: none;
    box-shadow: var(--focus-outline);
}

.accent {
    color: var(--accent);

    &--block {
        color: var(--accent-text);
        background-color: var(--accent);
        border-radius: 0.5rem;
        padding: 0 0.3rem;
        line-height: 1.5;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }
}

.text--block {
    &.accent--block {
        color: var(--accent-text);
        background-color: var(--accent);

        &::selection {
            background-color: var(--accent-text);
            color: var(--accent);
        }
    }

    border-radius: .5rem;
    padding: 0 .5rem;
    line-height: 1.5;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.pixelated {
    image-rendering: pixelated;
}

::selection {
    background-color: var(--accent);
    color: var(--accent-text);
}