@use 'sass:color';
@use 'sass:map';
@use 'reset';
@use 'reduced_motion';
@use 'card';
@use 'navbar';
@use 'footer';
@use 'view_transition';

// :root {
//     --geopjr-yellow: #f0db78;
//     --geopjr-red: #a56262;
//     --geopjr-purple: #7f77bc;
//     --geopjr-dark: #262329;
// }

:root {
    color-scheme: light;

    --accent: #00f;
    --accent-text: #fff;
    --background-color: white;
    --text-color: black;

    --focus-outline-color: var(--accent);
    --focus-outline-color-inner: var(--background-color);
    --focus-outline: 0 0 0 0.1rem var(--focus-outline-color-inner), 0 0 0 0.3rem var(--focus-outline-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --accent: #ff0;
        --accent-text: #000;
        --background-color: black;
        --text-color: white;
    }
}

@import url("/assets/fonts/adwaita-sans/adwaita-sans.css");
@import url("/assets/fonts/adwaita-mono/adwaita-mono.css");

code,
pre,
tt,
kbd,
samp {
    font-family: "Adwaita Mono", monospace;
}

html {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    // transition-duration: 200ms;
    font-family: 'Adwaita Sans', 'Cantarell', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    scrollbar-color: var(--accent) var(--background-color);
}

b,
strong {
    font-weight: 700;
    font-variation-settings: "wght" 700, "slnt" 0;
}

body {
    // height: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    min-height: 100vh;

    >main {
        view-transition-name: main;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        margin: 0 2rem;
        max-width: calc(100vw - 3rem);
        width: 80rem;
        flex-grow: 1;
        // min-width: 15rem;

        a,
        a:visited,
        a:hover,
        a:link,
        a:active {
            &:not([class]) {
                color: var(--accent);
                text-decoration: solid var(--accent) underline 1px;

                &::selection {
                    color: var(--accent-text);
                    text-decoration: solid var(--accent-text) underline 1px;
                }
            }
        }
    }
}

img {
    pointer-events: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
}

*:focus-visible {
    outline: none;
    box-shadow: var(--focus-outline);
}

.pixelated {
    image-rendering: pixelated;
}

::selection {
    background-color: var(--accent);
    color: var(--accent-text);
}

.dither-sep {
    background-image: url("/assets/images/dither-d.webp");
    image-rendering: pixelated;
    height: 110px;
    width: 100%;
    background-repeat: repeat-x;
    position: absolute;
    z-index: -50;

    &.top {
        top: -110px;
        // rotateX apparently breaks the image rendering on webkit
        transform: rotate(180deg);
    }

    &.bottom {
        bottom: -110px;
    }

    @media (prefers-color-scheme: light) {
        background-image: url("/assets/images/dither-l.webp");
    }
}